<IfModule mod_rewrite.c>
    RewriteEngine On

    # Allow real files and directories to load normally
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Send React Router URLs to the React application
    RewriteRule ^ index.html [L]
</IfModule>